@import 'scss/reset';
@import 'scss/base';
@import 'scss/hader';


body {
  display: flex;

  justify-content: center;
}

header {
  font-size: 1rem;
  width: 90%;
  min-width: 90%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    position: relative;

    ::after {
      content: ' ';
      position: absolute;
      background-color: blue;
      border-radius: 90000rem;
      width: 0.5rem;
      height: .5rem;
      bottom: .4rem;
      right: -0.6rem;
    }
  }

  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      width: 40%;
      display: flex;

      li {
        margin: 0 1rem 0 1rem;
      }
    }

    .menu {
      width: 100%;
      display: flex;
      justify-content: space-around;

    }

    .acount {

      display: flex;

      &__image {
        margin: 0 1rem 0 0;
      }
    }
  }
}